name: Auto Dependencies Update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: js/
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v5
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - run: |
          pnpm install

      - run: pnpm run create-auto-follow-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
