name: Create a Dependency Update PR

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: js/
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          cache: "pnpm"

      - uses: actions/setup-node@v5
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - run: pnpm install

      - run: pnpx npm-check-updates@latest -u

      - run: pnpm install --no-frozen-lockfile

      - run: pnpm build

      - name: Create Pull Request from Issue
        uses: peter-evans/create-pull-request@v3
        with:
          # Use PAT to run workflows for the pull request created by this action.
          token: ${{ secrets.PAT_PR_CREATING_GITHUB_TOKEN }}
          title: "Auto update dependencies"
          body: "This PR updates dependencies to their latest versions."
          base: main
          branch: auto-dependency-update
          commit-message: "Update dependencies"
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: false
          delete-branch: true
          assignees: mshibanami
          reviewers: mshibanami
